<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/Admin/{id}(id=${user.getId()})}" th:object="${user}">
    <lable for="firstname">Enter firstname: </lable>
    <input type="text" th:field="*{FirstName}" id="firstname"/>
    <br/>
    <lable for="lastname">Enter lastname: </lable>
    <input type="text" th:field="*{LastName}" id="lastname"/>
    <br/>
    <lable for="age">Enter age: </lable>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <lable for="email">Enter email: </lable>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <lable for="password">Enter password: </lable>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label>
        <select multiple name="selectedRoles">
            <option th:each="name : ${roles}" th:text="${name}" th:value="${name}"></option>
        </select>
    </label>
    <br/>
    <input type="submit" value="Update!"/>
</form>
<br/>
<form action="/Admin">
    <input type="submit" value="Cancel" />
</form>
</body>
</html>