<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
USER INFORMATION!
<br/>
<table border="1">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    <tr th:each="user : ${user}">
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.FirstName}"></td>
        <td th:utext="${user.LastName}"></td>
        <td th:utext="${user.Age}"></td>
        <td th:utext="${user.email}"></td>
        <td th:utext="${user.Roles}"></td>
    </tr>
</table>
<br/>
<button onclick="history.back()">Go Back</button>
<br/>
<br/>
<form action="/logout">
    <input type="submit" value="Logout" />
</form>
</body>
</html>